<h1>Listing program_models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @program_models.each do |program_model| %>
      <tr>
        <td><%= program_model.name %></td>
        <td><%= link_to 'Show', program_model %></td>
        <td><%= link_to 'Edit', edit_program_model_path(program_model) %></td>
        <td><%= link_to 'Destroy', program_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Program model', new_program_model_path %>
