<%- model_class = Attendee -%>
<div class="page-header">
  <h1><%=t '.title', :default => Attendee %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:allergies) %></th>
      <th><%= model_class.human_attribute_name(:special_needs) %></th>
      <th><%= model_class.human_attribute_name(:age) %></th>
      <th><%= model_class.human_attribute_name(:emmergencycontactphone) %></th>
      <th><%= model_class.human_attribute_name(:media_release) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.id %></td>
        <td><%= attendee.name %></td>
        <td><%= attendee.allergies %></td>
        <td><%= attendee.special_needs %></td>
        <td><%= attendee.age %></td>
        <td><%= attendee.emmergencycontactphone %></td>
        <td><%= attendee.media_release %></td>
        <td><%=l attendee.created_at, format: :long %></td>
        <td>
          <%= link_to attendee_path(attendee), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to attendee_path(attendee), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_attendee_path,
            :class => 'btn btn-primary' %>
